/* Override OpenLayers default style rules */

div.olMapViewport {
   -moz-user-select: none 
}

.olControlScale {
   right: 3px;
   bottom: 1.5em;
   display: block;
   position: absolute;
}

div.olControlMousePosition {
    bottom: 0em;
    right: 3px;
    display: block;
    position: absolute;
    font-size: smaller;
}

.olControlOverviewMapContainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.olControlOverviewMapElement {
    padding: 10px 10px 10px 10px;
    background-color: transparent;
}

.olControlOverviewMapExtentRectangle {
   cursor: move;
   border: 1px solid red;
}

