<plugin>
    <nom>OpenStreepMap Markers</nom>
    <icon>img_pack/osm-48.png</icon>
    <auteur>Emmanuel Bouthenot, kolter@openics.org (2010)</auteur>
    <licence>WTFPLv2</licence>
    <version>0.1</version>
    <etat>stable</etat>
    <description>Gestion de marqueurs sur une carte OpenStreepMap</description>
    <lien>http://rmll.info</lien>
    <prefix>osm</prefix>

    <fonctions>osm_mes_fonctions.php</fonctions>
    <options>osm_mes_options.php</options>

    <install>base/osm.php</install>
    <version_base>0.0</version_base>

    <pipeline>
        <nom>declarer_tables_principales</nom>
        <inclure>base/osm.php</inclure>
    </pipeline>
    <pipeline>
        <nom>declarer_tables_interfaces</nom>
        <inclure>base/osm.php</inclure>
    </pipeline>

    <bouton id='osm' parent='naviguer'>
        <titre>osm:titre_menu_gestion</titre>
        <icone>img_pack/osm-24.png</icone>
        <url>osm</url>
    </bouton>

    <pipeline>
        <nom>header_prive</nom>
        <action>ajouter_headers</action>
        <inclure>inc/osm.php</inclure>
    </pipeline>

    <necessite id="SPIP" version="[2.0;)" />
    <chemin dir='' />
</plugin>
