/*
	@description	Feuille de style spéciale IE6 pour RMLL 2011 - copie d'IE7 pour l'instant
	@author Ph. Vayssière
	@version  1
	@date 2011/05/22
*/

#menu1 {
	text-align: center;
}

#menu1 li {
	display: inline;
	width: auto;
}

#menu2 li,
#menu2 li a,
#menu2 li span {
	display: inline;
	
}

#barredroite > #radio h2 span {
	display: inline;
	zoom: 1;
}

/* max, min */
#head,
#page,
#footer {
	width: 990px;
}

#head {
	height: 281px;
}

#acces {
	height: 1em;
}

#menu2 {
	width: 618px;
}

#menu2 li {
	height: 46px;
}

#footer {
	height: 203px;
}

#barredroite > div {
	height: 80px;
}

