/*
	@description	Feuille de style spéciale IE7 pour RMLL 2011
	@author Ph. Vayssière
	@version  1
	@date 2011/05/22
*/

#menu1 {
	text-align: center;
}

#menu1 li {
	display: inline;
	zoom: 1;
}

#menu2 li,
#menu2 li a,
#menu2 li span {
	display: inline;
	zoom: 1;
}

#barredroite > #radio h2 span {
	display: inline;
	zoom: 1;
}

