body {
    font-size: 13px;
    font-family: 'Arial','Helvetica','Sans';
    color: #444;
    background-color: #000;
}

a, a:link, a:visited {
    text-decoration: none;
    color: #6F8021;
    font-weight: bold;
}
a:hover, a:active {
    color: #999;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald','Arial','Helvetica','Sans';
    font-size: 2em;
    margin-bottom: 20px;
    line-height: 135%;
}
h2 {
    font-size: 1.6em;
    margin-bottom: 14px;
}
h3 {
    font-size: 1.4em;
    margin-bottom: 14px;
    line-height: 135%;
}
h4 {
    font-size: 1.2em;
    margin-bottom: 12px;
}
h5 {
    font-size: 1.1em;
    font-weight: normal;
    margin-bottom: 12px;
}
h6 {
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 12px;
    text-transform: uppercase;
}

p {
    margin-bottom: 15px;
}

.green {
    color: #6F8021;
}

#header {
    position: relative;
    height: 125px;
    padding-top: 0px;
}
#header,
#header div.container {
    background-color: #FFF;
}
#header div.container {
    padding-top: 15px;
    position: relative;
    background-image: url('http://2013.rmll.info/media/img/brussels.jpg');
    background-repeat: no-repeat;
    background-position: 50% -127px;
}
#header div.logo {
    margin-top: 10px;
}
#header div.event {
    margin-top: 24px;
    text-align: right;
}

#languages {
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 11px;
}
#languages ul.language-switcher-locale-url {
    margin: 0px;
    padding: 0px;
    padding-right: 10px;
    list-style-type: none;
}
#languages ul.language-switcher-locale-url li {
    list-style-type: none;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    border-left: solid 1px #666;
}
#languages ul.language-switcher-locale-url li.last {
    padding-left: 0px;
    border-left: none;
}
#languages ul.language-switcher-locale-url li.active {
    font-weight: bold;
}
body.not-front #languages li.de {
    display: none;
}

#librelogos {
    position: absolute;
    left: 0px;
    bottom: 20px;
    width: 850px;
    height: 35px;
}
#librelogos div.fader {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 35px;
    background-image: url('../images/fade-left.png');
    background-repeat: no-repeat;
    z-index: 401;
}
#librelogos div.fader.right {
    left: 800px;
    background-image: url('../images/fade-right.png');
    z-index: 402;
}
#librelogos div.scrollableArea img {
    position: relative;
    float: left;
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    display: none;
    cursor: pointer;
}

#menu {
    position: relative;
    font-family: 'Oswald','Arial','Helvetica','Sans';
    font-size: 14px;
    height: 35px;
    background-color: #000;
}
#menu div.container {
    background-color: #000;
    height: 30px;
    padding-top: 5px;
}
#menu a, #menu a:link, #menu a:visited {
    color: #FFF;
}
#menu a:hover, #menu a:active,
#superfish-1 li a.active, #superfish-1 li a.active:link, #superfish-1 li a.active:visited,
#superfish-1 li.active-trail a.active, #superfish-1 li.active-trail a.active:link, #superfish-1 li.active-trail a.active:visited,
#superfish-1 li.active-trail a.sf-depth-1, #superfish-1 li.active-trail a.sf-depth-1:link, #superfish-1 li.active-trail a.sf-depth-1:visited {
    color: #6F8021;
}
#superfish-1 {
    position: relative;
    top: 4px;
}
#superfish-1 li.sf-depth-1 {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    border-right: solid 1px #FFF;
}
#superfish-1 li.sf-depth-1.last {
    padding-left: 0px;
}
#superfish-1 li.sf-depth-1.first {
    padding-right: 0px;
    border-right: none;
}
#superfish-1 li.sf-depth-1 ul,
#superfish-1 li.sf-depth-1 li {
    background-color: #000;
    font-size: 13px;
}
#superfish-1 li.sf-depth-1 ul {
    padding: 15px;
}
#superfish-1 li.sf-depth-1 li {
    padding: 5px;
}

#wrapper {
    position: relative;
}
#wrapper,
#wrapper div.container {
    background-color: #FFF;
}
#wrapper div.container {
    padding-top: 15px;
}
#wrapper div.blueprint {
    background-color: #CCC;
}
#wrapper div.shadow {
    border-bottom: solid 2px #666;
}
#wrapper div.band {
    position: relative;
    width: 850px;
    height: 170px;
    background-color: #FFF;
    margin: 10px;
}
#wrapper div.leftcol {
    position: relative;
    margin: 10px;
    margin-top: 0px;
    font-family: 'Arial','Helvetica','Sans';
}
#wrapper div.leftcol div.button {
    background-color: #FFF;
    margin-bottom: 8px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
}
#festival {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
}
#wrapper div.leftcol div.button a:hover, #wrapper div.leftcol div.button a:active,
#wrapper div.leftcol div.button a:hover span, #wrapper div.leftcol div.button a:active span,
#wrapper div.leftcol div.button:hover a, #wrapper div.leftcol div.button:hover a span,
#wrapper div.leftcol div.button:hover {
    color: #999;
    cursor: pointer;
}
#wrapper div.rightcol {
    width: 610px;
    background-color: #FFF;
    margin: 10px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#content {
    padding: 30px;
}
#content p {
    text-align: justify;
}
#content a, #content a:link, #content a:visited {
    color: #6F8021;
}
#content a:hover, #content a:active {
    color: #000;
}
#content div.messages,
#content ul.tabs {
    margin-bottom: 20px;
}
#content ul.tabs a.active {
    font-weight: bold;
}

#footer,
#footer div.container {
    background-color: #000;
}
#footer h4 {
    color: #FFF;
    font-family: 'Oswald','Arial','Helvetica','Sans';
    font-size: 13px;
    margin: 10px;
    padding: 8px;
    background-color: #000;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    background-image: url('../images/switch.png');
    background-repeat: no-repeat;
    background-position: 88px 6px;
}
#news h4.en {
    background-position: 111px 6px;
}
#community h4 {
    background-position: 66px 6px;
}
#community h4.en {
    background-position: 69px 6px;
}
#footer div.block {
    margin-top: 20px;
    background-color: #212121;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}
#footer span.date {
    font-family: 'Arial','Helvetica','Sans';
    font-size: 10px;
    color: #FFF;
    margin: 0px;
    padding: 0px;
    padding-right: 10px;
}
#footer div.data {
    font-size: 12px;
    margin: 0px;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 10px;
}

#footer a, #footer a:link, #footer a:visited, #footer a:hover, #footer a:active {
    color: #6F8021;
}
#footer a:hover, #footer a:active {
    color: #999;
}

#media-kit-examples textarea {
    width: 530px;
    height: 50px;
    color: #666;
}

#webform-component-hosting--dates,
#webform-component-people--genre,
#webform-component-village-stand--village-presence,
#webform-component-village-asso--village-nom,
#webform-component-benevole-dispo--benevole-dates,
#webform-component-benevole-person--benevole-titre {
    margin-top: 0px;
}
#edit-submitted-hosting-constraints,
#edit-submitted-village-asso-village-objectifs,
#edit-submitted-village-stand-village-presenter,
#edit-submitted-village-stand-village-vente,
#edit-submitted-village-stand-village-besoins {
    height: 70px;
}
#webform-component-people--genre,
#webform-component-benevole-person--benevole-titre {
    margin-bottom: 8px;
}
#webform-component-people div.webform-component-textfield,
#webform-component-village-asso div.webform-component-textfield,
#webform-component-benevole-person div.webform-component-textfield {
    margin-top: 5px;
    margin-bottom: 5px;
}
#webform-component-people div.webform-component-textfield input,
#webform-component-village-asso div.webform-component-textfield input,
#webform-component-benevole-person div.webform-component-textfield input {
    margin-top: 3px;
}
#edit-submitted-people-email,
#edit-submitted-village-asso-village-email,
#edit-submitted-benevole-person-benevole-email {
    border: solid 1px #BBB;
    margin-bottom: 5px;
}
#edit-submitted-people-email.error,
#edit-submitted-village-asso-village-email.error,
#edit-submitted-benevole-person-benevole-email.error {
    border: solid 2px red;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #FFF;
}
#webform-component-homepage,
#webform-component-color {
    display: none;
}

/**********************
* ResaRMLL specifics *
**********************/

form {
    text-align: left;
}

fieldset, legend {
    border: 1px solid #808080;
}

legend {
    padding: 5px;
}

input, textarea {
    border: 1px solid #808080;
}


ul {
    margin: 0 20px;
}

.main-error {
    border-bottom: 2px solid #912829;
    margin: 10px 0px;
    padding: 10px 10px 8px 42px;
    color: #912829;
    background: #ffffcc url('../images/common/error.png') no-repeat 4px 4px;
    font-size: 1.2em;
    min-height: 22px;
}

.main-success {
    border-bottom: 2px solid #45901d;
    margin: 10px 0px;
    padding: 10px 10px 8px 42px;
    color: #45901d;
    background: #ffffcc url('../images/common/success.png') no-repeat 4px 4px;
    font-size: 1.2em;
    min-height: 22px;
}

.main-warn {
    border-bottom: 2px solid #f9bc5a;
    margin: 10px 0px;
    padding: 10px 10px 8px 42px;
    color: #ff665a;
    background: #ffffcc url('../images/common/warn.png') no-repeat 4px 4px;
    font-size: 1.2em;
    min-height: 22px;
}

.notset {
    color: #f9bc5a;
    font-weight: bold;
}

.field {
    clear: both;
    padding: 5px;
}

label, .label {
    font-weight: bold;
    color: #404040;
}

.field label, .field .label {
    width: 25%;
    float: left;
}

label.inline {
    padding: 0 5px;
}

.mark {
    color: red;
    font-weight: bold;
    font-size: 1.3em;
}

.field .widget {
    float: left;
    width: 50%;
}

.field .help {
    margin-left: 25%;
    padding: 3px 0px 0px 5px;
    clear: both;
    font-style: oblique;
    color: #303030;
}

.field-error input, .field-error textarea {
    border: 1px solid red;
}

.field .error {
    color: red;
    padding: 0 0 0 25%;
}

.field .areatext {
    margin: 0 0 0 25%;
}

.mandfields {
    padding: 10px;
}

.sub {
    padding: 2% 0 0 25%;
}

.action {
    clear: both;
    margin: 20px 0 0 0;
}

#catalog_list .product {
    margin : 10px 0px 10px 0px;
    border : 1px solid #808080;
    background : #ececec;
    padding : 5px;
}

#catalog_list .product .selector{
    float: right;
}

#catalog_list .addcart {
    text-align: right;
    padding: 5px 0px;
}

table.list {
    margin-top : 20px;
    width : 100%;
}

table.list, table.list th, table.list td {
    border : 1px solid #808080;
    border-collapse : collapse;
    font-size: 0.8em;
}

table.list th, table.list td {
    padding : 5px;
}

table.list th, table.list td.act {
    text-align : center;
}

table.list th.text {
    text-align : left;
}

table.list tfoot th {
    text-align : right;
}

table.list td.num {
    text-align : right;
}

table.list td.total {
    text-align : center;
}

table.list tr.plus {
    background : #BEF2B0;
}

table.list tr.minus {
    background : #ECACA6;
}

table.list tr.odd {
    background : #ececec;
}

.validate_payment, .validate_payment {
    margin : 20px 0;
    float : right;
}

.section {
    margin : 15px 0;
}

.section h3 {
    padding : 4px 10px 8px 25px;
    background : url('../images/common/arrow.png') no-repeat 4px 4px;
    color : #303030;
}

#manage_orders .list {
    margin-bottom : 20px;
    border : 1px solid red;
}

#manage_orders fieldset {
    margin-bottom: 15px;
}

.header_manager {
    height : 135px !important;
}

.menu-manager {
    margin-bottom: 15px;
}

table.modified {
    border : 2px solid red !important;
}


/******************
 * SPIP specifics *
 ******************/

/* squelettes/css/spip.css */
hr.spip{clear:both;}
.spip_documents_center{display:block;text-align:center;}
.spip_documents_left{float:left;margin-right:15px;text-align:center;}
.spip_documents_right{float:right;margin-left:15px;text-align:center;}
dl.spip_documents,dt.spip_doc_titre,dd.spip_doc_descriptif{width:auto !important;background-color:white;}


/**************************
 * ScheduleRMLL specifics *
 **************************/

.rmll-evenements-brief {
    margin: 10px;
    padding: 5px 0px 5px 10px;
		background: none;
    border: 2px solid #ccc;
    text-align: left;
		font-size:1em;
}

.rmll-evenements-brief .rmll_noms {
    /* */
}

.rmll-evenements-brief ul,
.rmll-evenements-brief .salle,
.rmll-evenements-brief .video {
    display: table-cell;
    width: 20%;
}

.rmll-evenements-brief ul {
    width: 30%;
    padding: 0 5px;
}

.rmll-evenements-brief ul {
    border-left: 1px solid grey;
}
.rmll-evenements-brief ul:first-child {
    border-left: none;
}

.rmll-evenements-brief ul:empty {
    border-left: none;
}

.rmll-evenements-brief li {
    display: block;
    margin: 2px 0px;
    padding: 0;
    background: none;
}

.rmll-evenements-brief .salle {
    text-align: center;
    border-left: 1px solid grey;
}

.rmll-evenements-brief .video {
    text-align: center;
    border-left: 1px solid grey;
}

.rmll-evenements-brief strong {
    padding-right: 5px;
    color: #000;
    font-weight: bold;
}


/* description sous bloc bleu */
.news-focus .description {
    margin-left: 10px;
}

.news-focus .item {
    margin-top: 10px;
}

.rmll-evenements-theme {
    margin : 15px 0px 0px 5px;
}

.rmll-evenements-theme .description {
    padding : 1px 8px 8px 8px;
    background : #eeeeee;
    border-left : 2px solid #808080;
}

.rmll-schedule-wrap {
    padding : 5px;
}

.rmll-schedule td {
    text-align : left;
    vertical-align : top;
}

table.rmll-schedule, .rmll-schedule th, .rmll-schedule td {
    border : 1px solid #808080;
    border-collapse : collapse;
}


table.rmll-schedule tbody tr:nth-child(2n) td, 
table.rmll-schedule tbody tr.even td{
background-color:#dce7a9;
}

.rmll-schedule th.conf {
    text-align : center;
    padding : 6px;
}

.rmll-schedule td.timeslot, .rmll-schedule th.timeslot {
    text-align : center;
    padding : 3px;
    width : 1%;
    white-space : nowrap;
}
.rmll-schedule td.timeslot, 
.rmll-schedule th.timeslot,
.rmll-schedule th.conf{
font-size: 1.2em;
}

/* PHV */
.rmll-schedule th.pause,
.rmll-schedule td.pause {
    text-align : center;
    padding : 3px;
    background-color: #6F8021;
		color: #FFFFFF;
    font-weight : bold;
}

/* PHV */
.rmll-schedule th.lunch,
.rmll-schedule td.lunch {
    text-align : center;
    padding : 5px;
    background : #6F8021;
    font-weight : bold;
    /*background-color: #c16;*/
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,
                                    color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
                                    color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
                                    color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
                                    to(transparent));
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                                            transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                                            transparent 75%, transparent);
    background-image: -moz-repeating-linear-gradient(top left -45deg, #AAA, #AAA 1px, #CCC 1px, #CCC 2px);
    background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                                        transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                                        transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                                    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                                    transparent 75%, transparent);

}

.rmll-schedule tr.odd td.timeslot {
    background : #f2f0e9;
}

.rmll-schedule .conf .infos {
    min-width : 130px;
    padding : 7px;
    margin-bottom : 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 5px 5px 3px #888;
    -webkit-box-shadow: 5px 5px 3px #888;
    -khtml-box-shadow: 5px 5px 3px #888;
    box-shadow: 5px 5px 3px #888;
}

.rmll-schedule-all .conf .infos {
    padding : 5px;
}

.rmll-schedule-all .conf .hider {
    display : none;
    padding : 4px;
}

.rmll-schedule .conf .infos .time {
    font-size : 0.8em;
    margin-bottom : 4px;
}

.rmll-schedule .conf .infos .time span {
    text-decoration : underline;
}

.rmll-schedule-all .conf .infos .time {
    text-align : center;
    text-decoration : none;
}

.rmll-schedule-all .conf .infos .time a {
    color : black;
    text-decoration : underline;
}

.rmll-schedule .conf .infos .title {
    font-size : 0.9em;
    margin-bottom : 4px;
}

.rmll-schedule .conf .infos .title a {
    color: #444 !important;
    font-weight: bold !important;
}

.rmll-schedule .conf .infos .nature {
    font-size : 0.8em;
    text-decoration : underline;
}

.rmll-schedule .conf .infos .keywords {
    margin-top: 3px;
    padding-top: 3px;
    border-top: 1px solid white;
}

.rmll-schedule .conf .infos .lightningtalks ul {
    margin: 0;
    padding: 0;
}

.rmll-schedule .conf .infos .lightningtalks li {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

.rmll-schedule .conf .infos .lightningtalks a {
    color: #444 !important;
}

lightning_talks

.rmll-schedule .conf .infos .speaker {
    font-size : 0.8em;
    font-style : italic;
}

.rmll-schedule .conf-color-0 {
    background : #9dff00;
}

.rmll-schedule .conf-color-1 {
    background : #fa8072;
}

.rmll-schedule .conf-color-2 {
    background : #a4adbe;
}

.rmll-schedule .conf-color-3 {
    background : #f3eea0;
}

.rmll-schedule .conf-color-4 {
    background : #6eb926;
}

.rmll-schedule .conf-color-5 {
    background : #d18604;
}

.rmll-schedule .conf-color-6 {
    background : #d2cd77;
}

.rmll-schedule .conf-color-7 {
    background : #7abfa6;
}

.rmll-schedule .conf-color-8 {
    background : #add8e6;
}

.rmll-schedule .conf-color-9 {
    background : #f5d07f;
}

.rmll-schedule .conf-color-10 {
    background : #ffb6c1;
}

.rmll-schedule .conf-color-11 {
    background : #cc9d94;
}

.rmll-schedule .conf-color-12 {
    background : #d295fa;
}

.rmll-schedule .conf-color-13 {
    background : #ddddff;
}

.rmll-schedule .conf-color-14 {
    background : #00fa9a;
}

.rmll-schedule .conf-color-15 {
    background : #c77670;
}

.rmll-schedule .conf-color-16 {
    background : #ffe100;
}

.rmll-schedule .conf-color-17 {
    background : #cfb5b5;
}

.rmll-schedule .conf-color-18 {
    background : #8EA0AF;
}

.rmll-schedule .conf-color-19 {
    background : #ff1f28;
}

.rmll-ical-wrap {
    margin : 10px;
}

.rmll-pager-wrap {
    overflow : auto;
    margin : 10px 0px 5px 0px;
}

.rmll-pager-wrap .prev {
    float : left;
}

.rmll-pager-wrap .next {
    float : right;
}

.rmll-listdays-wrap {
    margin : 20px;
}

.rmll-listdays-wrap .msg {
    margin-bottom : 10px;
    font-weight : bold;
    font-size : 1.1em;
}

.rmll-schedule-theme-wrap {
    margin : 10px 0;
}

#rmll-schedule-grid {
    text-align : left;
    padding : 15px;
    background-color: white;
    font-size: 0.9em;
}

.rmll-selector {
    margin : 10px;
}

/**********************
 * ResaRMLL overrides *
 **********************/

#skip-link {
    display: none;
}

#schedulermll {
    background: #FFF;
}

#schedulermll a {
    color: #6F8021;
}

#schedulermll .rmll-selector {
    margin: 5px 0;
		font-family: 'Arial','Helvetica','Sans' !important;
}

#schedulermll .rmll-selector select {
    margin: 0px;
    font-size: 0.9em;
    background-color: #dce7a9;
}
#schedulermll .rmll-selector label{
font-weight:normal;
}

#schedulermll .rmll-evenements-brief a {
    color: #6F8021;
}

#schedulermll .language-switcher-locale-url a {
    color: black;
}

#schedulermll .maincontent {
    padding-top: 10px;
}

#schedulermll .col-content {
    background: white;
    padding: 10px;
}

#schedulermll .menu-schedule a {
    color: black;
}

#schedulermll .menu-schedule a:hover {
    color: #6F8021;
}

#schedulermll .menu-schedule li.active a {
    color: #6F8021;
}

#schedulermll .menu-schedule li.active ul a {
    color: black;
}

#schedulermll .menu-schedule li ul li {
    list-style-type: square;
    list-style-position: outside;
    margin-left: 5px;
    color: black;
}

#schedulermll .menu-schedule li.active a:hover {
    color: black;
}

#schedulermll .menu-schedule {
    margin: 0;
    padding: 0;
}

#schedulermll .menu-schedule li {
    list-style-type: none;
    margin: 3px 0;
}

#schedulermll #theme-rmll .menu-schedule  li {
    list-style-type: square;
    list-style-position: inside;
}

#theme-rmll a {
    font-family: 'Oswald','Arial','Helvetica','Sans';
}

.footer {
    text-align: right;
}

.spip-admin-bloc, .spip-admin-float {
    right: 50% !important;
}

