hr.spip {
        clear : both;
        color: inherit;
        background-color: inherit;
        height: 1px;
        border: 0;
}

.spip_documents_center {
        display : block;
        text-align : center;
}

.spip_documents_left {
        float: left;
        margin-right: 15px;
        text-align: center;
}

.spip_documents_right {
        float: right;
        margin-left: 15px;
        text-align: center;
}

dl.spip_documents, dt.spip_doc_titre, dd.spip_doc_descriptif {
	width : auto !important;
}

.spip-admin-float a {
	display : block;
	margin : 5px !important;
}
