/* PHV modified */

/* paste :
vendor prefix
	-webkit-
	-moz-
	-ms-
	-o-

#B5E3F6 = bleu ciel haut du header
#0C6787 = bleu foncé
#80B11E = vert header

Kuler
#456407 vert plus foncé
vert #80B11E
#3361BE bleu
#7E1B09 rouge foncé
#FD421E rouge orangé

*/

body {
	font: normal 62.5%/1.5 Helvetica,Arial,sans-serif;
	text-align: center;
	background: #f2f0e9 /*url('../images/_haut-gris.png') top repeat-x*/;
}

html, body, form p, ul, ol, blockquote {
	margin:0;
	padding: 0;
}

html, body {
	color: black;
}

@font-face {
    font-family: 'FolksBold';
    src: url('Folks-Bold-webfont.eot');
    src: url('Folks-Bold-dafont.ttf') format('truetype'); /* OK pour Firefox uniquement, pas testé ailleurs (cause: bug sur 'è' */
    font-weight: normal;
    font-style: normal;
}

a img {
	border: 0;
	vertical-align : middle;
}

/* a {
	text-decoration: none;
	color: #6f9c1c;
	font-weight: bold;
}
 */
a:visited {
	color: #094B62;
}

a:hover {
	text-decoration: underline;
	color: #82b521;
}

a:focus,
a:active {
	color: white;
	background-color: #107EA3;
}

ul {
	margin: 0;
	padding-left: 10px;
}

h2 {
	text-align: left;
	/* border-bottom: 1px solid #e8e5d4; */
	font-size: 1.8em;
}

#content h2 {
	margin: 0 0 0.83em 0;
	padding: 12px 10px 8px 45px;
	letter-spacing: 1px;
	background: url(../images/puce_rmll2011.png) left top no-repeat;
}


h3.spip {
	clear: both;
	margin: 0 0 0.6em 4px;
	padding: 1em 0 0 6px;
	font-size: 1.6em;
	font-family: Helvetica,Verdana,sans-serif;
	letter-spacing: 0.8px;
	border-bottom: 1px solid #80B11E;
}

h3 a {
	text-decoration: none;
}

h4 {  /* Merci "enluminures" pour titres niveau 2 et plus (h4 et plus) */
	clear: both;
	margin-top: 0;
	padding-top: 1.33em;
	text-indent: 10px;
	font-size: 1.5em;
	text-align: left;
}

#content p {
	font-size: 1.2em;
	margin-left: 2px;
}

/* paragraphe suivant un titre h2/h3 */
#content h2 + div p:first-child {
	margin-top: 0;
}

#content h3 + p {
	margin-top: 0.8em;
}

#content ul {
	margin-bottom: 1em;
	font-size: 1.2em;
}
#content ul ul {
	font-size: 1em;
}

pre {
	background-color: #fdfaf0;
	padding: 10px;
}

blockquote {
	background-color: #fdfaf0;
	padding: 10px;
	margin: 5px 30px;
}

hr {
	display: block;
	margin: 5px 50px;
	border-top: 5px double #444;
}

/* = STRUCTURE   */
#page {
	background: white /*url('../images/_page.png') repeat-y*/;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}


#head {
	min-height: 281px;
	background-color: white;
	padding-top: 1px;
}
#head:after {
	height: 10px;
	content: " ";
	display: block;
	clear: both;
}


#head h1 {
	position: relative;
	display: block;
	width: 327px;
	min-height: 281px;
	margin: 0;
	font-size: 2.8em;
	text-align: left;
	color: black;
	background: #B5E3F6 url(../images/rmll_strasbourg.png) left top no-repeat;
}

#head h1 a {

	vertical-align: bottom;
}

#head h1 a img {
	position: absolute;
	clip: rect(114px, 312px, 281px, 5px); /* ordre = T R B L */
}


/* = Liens d'accès rapide */
#acces {
	float: right;
	min-height: 1em;
	margin: 2px 0 0 0;
	padding-bottom: 7px;
	color: #444;
	font-size: 1.2em;
}

#acces a {
	text-decoration: none;
	font-weight: normal;
}

#acces a:hover {
	text-decoration: underline;
}
#acces a:focus,
#acces a:active	 {
	text-decoration: underline;
	color: white;
}

/* changement de langue et flux RSS */
#icons {
	padding: 0 10px 0 6px;
}

#icons a {
	margin-left: 3px;
}


/* = MENU 1 (bleu tout en haut) */
#menu1 {
	display: table;
	clear: both;
	margin: 4px auto 0 auto;
	padding: 0 0 0 5px;
	list-style-type: none;
	line-height: 1.3;
	/*color: #0C6787;*/
	background-color: #0C6787;
}

#menu1 li {
	clear: none;
	display: inline-block;
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 1.8em;
}

#menu1 li a {
	display: block;
	margin: 0;
	padding: 2px 5px 4px 5px;
	text-decoration: none;
	color: white;
}


/* = MENU 2 (noir sur fond vert) */
#menu2 {
	display: table;
	float: right;
	min-width: 618px;
	margin: 0;
	padding: 0 0 0 42px;
	list-style-type: none;
	line-height: 1.3;
	font-weight: bold;
	color: #0C6787;
	background: url(../images/bg_menuvert_biseau.png) left top no-repeat;
}

#menu2 li {
	display: inline-block;
	float: left;
	vertical-align: middle;
	clear: none;
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 1.6em;
	letter-spacing: 0.8px;
	border-left: 1px solid white;
	background-color: #80B11E;
}
#menu2 li:first-child {
	border-left: none;
}

#menu2 li a,
#menu2 li span {
	line-height: 46px;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0 16px;  /* 0 18px*/
	text-decoration: none;
	color: #0C1011; /* noir (à dégrader) */
	ackground-color: yellow;
}

#menu2 li.long a {
 line-height: 23px;
}


#menu2 li span {
	font-style: italic;
	color: #444F52;
}


/* = MENUS survol/focus */
/* ***TODO :focus en doublon de :hover */
#menu1 li a:hover,
#menu1 li a:focus,
#menu1 li a:active,
#menu1 li a.on {
	color: black;
	background: white url(../images/bg_menuhaut_survol.png) center bottom no-repeat;
}

/* TODO*** uniquement first et last child */
/*#menu1 li a:hover, #menu1 li a.on,
#menu1 li a:hover, #menu1 li a.on*/
#menu1,
.annonce a {  								/* pour le lien dans .annonce : bordure visible uniquement au survol/focus/clic */
	-webkit-border-radius: 5px; /* mais ça n'empêche pas d'arrondir qqch d'invisible - et éviter un sélecteur CSS trop long :) */
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

#menu2 li.on {
	background-color: #0C6787;
}

#menu2 li.on a,
#menu2 li a.on:hover {
	color: white;
}

#menu2 li a:hover {
	text-decoration: underline;
}
#menu2 li a:focus,
#menu2 li a:active {
	color: white;
	background-color: #0C6787;
}

#location {
	margin: 5px 1px 20px 30px;
	padding: 4px 15px;
	font-size: 1.2em;
}

#content {
	margin-left: 20px;
	margin-right: 20px;
}

#content .description {
    overflow : auto;
}

.date {
	margin-top: -15px;
	color: #444;
	font-size: 90%;
	text-align: right;
}

.deuxcolonnes #content {
	clear: right;
	margin-left: 296px;
	margin-right: 20px;
}

#barredroite {
	clear: both;
	text-align: left;
	float: left;
	width: 276px;
	padding: 0 2px 0 0px;
	margin: 0 0 50px 1px;
	border-right: 1px solid #80B11E;
}

#barredroite h2 {
	margin-bottom: 5px;
	border: 0;
	font-size: 1.3em;
	font-family: Helvetica,Arial,sans-serif;
}

#barredroite ul {
	padding-left: 5px;
	list-style: disc inside;
	font-size: 1.2em;
}

#barredroite li {
	margin: 0;
	padding: 0;
}

#barredroite ul ul {
	font-size: 1em;
}

#footer {
	clear: both;
	min-height: 203px;
	text-align: center;
	background: url(../images/bg_bas1000.png) no-repeat;
}

#footer p {
	padding-top: 170px;
	color: #707070;
}

#footer p a {
	text-decoration: none;
}

#footer p a:hover {
	text-decoration: underline;
}
#footer p a:focus,
#footer p a:active {
	color: white;
}

#search {
	float: left;
	margin: 0;
	padding: 16px 0 0 45px;
	width: 282px;
}

#search .text {
	border: 1px solid #80B11E;
	border-right: none;
	width: 159px;
	margin: 0;
	color: #606060;
	background: #E4F4C4;
	padding : 2px 0 5px 9px;
	font-size: 1.2em;
	vertical-align: top;
}

#search .img {
	margin: 0;
	padding: 0;
	border: 0;
}

#barredroite .rubriques {
	border-bottom: 1px dashed #aaa;
}

.menubarre {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menubarre li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menubarre li a {
	display: block;
	padding: 3px 5px 2px 5px;
	text-decoration: none;
	border-bottom: 1px solid #e8e5d4;
	margin: 0;
	margin-left: 5px;
	margin-right: 20px;
}

.menubarre li a:hover {
	text-decoration: underline;
	color: #000;
	background-color: #fffefb;
}
.menubarre li.current a {
	color: #fffefb;
	background-color: #107EA3;
}
.menubarre li a:focus,
.menubarre li a:active {
	text-decoration: underline; /* couleurs déjà OK */
}

.clear {
	clear: both;
}

.imgrubrique {
	float: right;
	padding: 10px;
}

.gris {
	color: #666;
}

#barredroite .modifs h2 {
	color: #444;
	font-size: 1.1em;
}

.modifs p {
	text-align: right; padding-right: 5px;
}

.modifs {
	margin-bottom: 30px;
}

form {
	border: 0;
	margin: 0;
	padding: 0;
}

form.newsletter {
	margin : 15px;
}

form.newsletter .elem {
	margin : 5px;
	clear : both;
}

form.newsletter label {
	width : 150px;
	float : left;
}


#content ul {
	list-style-type: none;
	line-height: 1.5;
	margin-left: 2px;
}

#content ul li {
  padding-left: 10px;
	background: url(../images/puce_verte.png) 0 7px no-repeat;
}

#document_actif {
    margin : 15px 0;
    padding : 15px 0;
    border-top : 2px solid #ececec;
}

#document_actif .titre {
    font-weight : bold;
}


/* = Agenda/Programme RMLL (1 ligne intervenant(s) puis 1 à 4 "cellules" d'infos (2 UL et 2 p) */
.rmll-evenements-brief {
	position: relative;
	margin: 10px 20px;
	padding: 5px 10px;
	background: #B5E3F6;
	background: -webkit-gradient(linear, left top, right top, from(#B5E3F6), to(#FFF), color-stop(0.2, #B5E3F6));
	background: -moz-linear-gradient(left, #B5E3F6 20%, #FFF);
	background: -ms-linear-gradient(left, #B5E3F6 20%, #FFF);
	background: -o-linear-gradient(left, #B5E3F6 20%, #FFF);
	background: gradient(left, #B5E3F6 20%, #FFF);
	border-left: 2px solid #107EA3;
	text-align: left;
}

.rmll-evenements-brief .rmll_noms {
	/* */
}

.rmll-evenements-brief ul,
.rmll-evenements-brief .salle,
.rmll-evenements-brief .video {
	display: table-cell;
	width: 20%;
}

.rmll-evenements-brief ul {
	width: 30%;
	padding: 0 10px;
}

.rmll-evenements-brief ul {
  border-left: 1px solid grey;
}

.rmll-evenements-brief ul:empty {
  border-left: none;
}

#content .rmll-evenements-brief li {
	display: block;
	margin: 2px 0px;
	padding: 0;
	background: none;
}

.rmll-evenements-brief .salle {
	text-align: center;
	border-left: 1px solid grey;
}

.rmll-evenements-brief .video {
	text-align: center;
	border-left: 1px solid grey;
}

.rmll-evenements-brief strong {
	padding-right: 5px;
	color: #000;
	font-weight: bold;
}


/* description sous bloc bleu */
.news-focus .description {
	font-size: 1.2em; /* ***temp, remplacer div par p */
	margin-left: 20px;
}


.rmll-evenements-theme {
    margin : 15px 0px 0px 5px;
}

.rmll-evenements-theme .description {
    padding : 1px 8px 8px 8px;
    background : #eeeeee;
    border-left : 2px solid #808080;
}

.rmll-schedule-wrap {
    padding : 5px;
}

.rmll-schedule td {
    text-align : left;
    vertical-align : top;
}

.rmll-schedule, .rmll-schedule th, .rmll-schedule td {
    border : 1px solid #808080;
    border-collapse : collapse;
}

.rmll-schedule th.conf {
    text-align : center;
    padding : 6px;
}

.rmll-schedule td.timeslot, .rmll-schedule th.timeslot {
    text-align : center;
    padding : 3px;
    width : 1%;
    white-space : nowrap;
}

/* PHV */
.rmll-schedule th.pause,
.rmll-schedule td.pause {
    text-align : center;
    padding : 3px;
    background : #93b0c7;
    font-weight : bold;
}

/* PHV */
.rmll-schedule th.lunch,
.rmll-schedule td.lunch {
    text-align : center;
    padding : 5px;
    background : #888;
    font-weight : bold;
    /*background-color: #c16;*/
		background-image: -webkit-gradient(linear, 0 0, 100% 100%,
											color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
											color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
											color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
		 									to(transparent));
		background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
											transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
											transparent 75%, transparent);
		background-image: -moz-repeating-linear-gradient(top left -45deg, #AAA, #AAA 1px, #CCC 1px, #CCC 2px);
		background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
											transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
											transparent 75%, transparent);
		background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
											transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
											transparent 75%, transparent);
		background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
											transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
											transparent 75%, transparent);

}

.rmll-schedule tr.odd td.timeslot {
    background : #f2f0e9;
}

.rmll-schedule td.conf .infos {
    min-width : 130px;
    padding : 7px;
    margin-bottom : 2px;
}

.rmll-schedule-all td.conf .infos {
    padding : 5px;
}

.rmll-schedule-all td.conf .hider {
    display : none;
    padding : 4px;
}

.rmll-schedule td.conf .infos .time {
    font-size : 0.8em;
    margin-bottom : 4px;
}

.rmll-schedule td.conf .infos .time span {
    text-decoration : underline;
}

.rmll-schedule-all td.conf .infos .time {
    text-align : center;
    text-decoration : none;
}

.rmll-schedule-all td.conf .infos .time a {
    color : black;
    text-decoration : underline;
}

.rmll-schedule td.conf .infos .title {
    font-size : 0.9em;
    margin-bottom : 4px;
}

.rmll-schedule td.conf .infos .title a {
    color : black;
    font-weight : bold;
}

.rmll-schedule td.conf .infos .nature {
    font-size : 0.8em;
    text-decoration : underline;
}

.rmll-schedule td.conf .infos .speaker {
    font-size : 0.8em;
    font-style : italic;
}

.rmll-schedule .conf-color-0 {
    background : #9dff00;
}

.rmll-schedule .conf-color-1 {
    background : #fa8072;
}

.rmll-schedule .conf-color-2 {
    background : #a4adbe;
}

.rmll-schedule .conf-color-3 {
    background : #f3eea0;
}

.rmll-schedule .conf-color-4 {
    background : #6eb926;
}

.rmll-schedule .conf-color-5 {
    background : #d18604;
}

.rmll-schedule .conf-color-6 {
    background : #d2cd77;
}

.rmll-schedule .conf-color-7 {
    background : #7abfa6;
}

.rmll-schedule .conf-color-8 {
    background : #add8e6;
}

.rmll-schedule .conf-color-9 {
    background : #f5d07f;
}

.rmll-schedule .conf-color-10 {
    background : #ffb6c1;
}

.rmll-schedule .conf-color-11 {
    background : #cc9d94;
}

.rmll-schedule .conf-color-12 {
    background : #d295fa;
}

.rmll-schedule .conf-color-13 {
    background : #ddddff;
}

.rmll-schedule .conf-color-14 {
    background : #00fa9a;
}

.rmll-schedule .conf-color-15 {
    background : #c77670;
}

.rmll-schedule .conf-color-16 {
    background : #ffe100;
}

.rmll-schedule .conf-color-17 {
    background : #cfb5b5;
}

.rmll-schedule .conf-color-18 {
    background : #8EA0AF;
}

.rmll-schedule .conf-color-19 {
    background : #ff1f28;
}

.rmll-ical-wrap {
	font-size: 1.2em; /* ***temp, remplacer div par p */
    margin : 10px;
}

.rmll-pager-wrap {
    overflow : auto;
    margin : 10px 0px 5px 0px;
}

.rmll-pager-wrap .prev {
    float : left;
}

.rmll-pager-wrap .next {
    float : right;
}

.rmll-listdays-wrap {
    margin : 20px;
}

.rmll-listdays-wrap .msg {
    margin-bottom : 10px;
    font-weight : bold;
    font-size : 1.1em;
}

.rmll-schedule-theme-wrap {
    margin : 10px 0;
}

#prog {
    text-align : left;
    padding : 15px;
    font-size: 1.2em;
}

.rmll-selector {
    margin : 10px;
}


/* EN CHANTIER */
/* = TYPOGRAPHIE (font-face) */
#menu1,
#menu2,
h2,
#header_bg p {
	font-family: FolksBold,Arial,sans-serif;
}

/* = COULEURS */
#acces a {
	color: #0C6787;	/* bleu foncé */
}

a,
#header_bg p,
#content h2,
#footer p a {
	color: #107EA3; /* bleu contraste 4.6:1 */
}

/* = STRUCTURE */
#head,
#page,
#footer {
	max-width: 990px;
}

#head {
	padding-bottom: 10px;
}

.home #head {
	padding-bottom: 30px;
}

#barredroite,
#barredroite h2,
#barredroite p {
	text-align: left;
}

#barredroite > div {
	min-height: 72px;
	margin: 0 10px 1em 20px;
	/*border-bottom: 1px dashed #aaa;*/
}

#barredroite .envaleur h2 {
	text-align: center;
	font-family: 'FolksBold',sans-serif;
	font-size: 2.4em;
}

#barredroite .envaleur a {
	padding: 0 6px;
	text-decoration: none;
}

#barredroite .envaleur a:focus,
#barredroite .envaleur a:hover {
	background-color: #F4FAFD !important; /* !important pour prendre la priorité sur #radio{ background } qui définit une image mais aussi une (absence de) couleur */
	-webkit-outline-radius: 4px;
	-moz-outline-radius: 4px;
	-o-outline-radius: 4px;
	outline-radius: 4px;
	outline: 1px solid #72BAD5;
}

#barredroite .envaleur a span {
	color: #107EA3;
}


#barredroite > #journees_grandpublic h2 {
	letter-spacing: 1px;
}

#barredroite > #journees_grandpublic h2 a {
	display: inline-block;
	color: #444;
	border-bottom: 1px solid #72BAD5;
}

#barredroite > #radio h2 {
	text-align: left;
	font-size: 2em;
	letter-spacing: 0.7px;
}

#barredroite > #radio h2 a {
	display: inline-block;
	min-height: 56px;
	padding: 8px 0 0 78px;
	vertical-align: middle;
	margin-left: 12px;
	color: #444;
	font-family: 'FolksBold',sans-serif;
	background: url(../images/listen.jpg) left top no-repeat;
}

#barredroite > #radio span {
  color: #444;
	border-bottom: 1px solid #72BAD5;
}

#barredroite > #radio a:focus span,
#barredroite > #radio a:hover span {
	border-color: white;
}

#barredroite > #radio h2 a:first-letter {
	font-size: 1.62em;
	letter-spacing: 0;
	color: #107EA3;
}

#barredroite > #fdanl a {
	display: block;
	text-align: center;
}

#barredroite > #fdanl a:hover {
	background-color: #FBEEE8;
	outline: none !important;
}

#barredroite > #rmlld h2 {
	padding-top: 10px;
	letter-spacing: 2px;
}

#barredroite > #rmlld h2 a {
	color: #444;
	border-bottom: 1px solid #72BAD5;
}


/* EN CHANTIER */
#header_links {
	background-color: #B5E3F6;
	/*background: #D2EDF9;
	border-bottom: 1px solid #333;*/
}

#header_links:after {
	height: 3px;
	content: " ";
	display: block;
	clear: both;
}

#menu1 li {
	margin: 0 9px 0 0;
}
#header_bg {
	position: relative;
	background: url('../images/header_droite.jpg') right top no-repeat;
}

#header_bg p {
	position: absolute;
	left: 200px;
	top: 30px;
	margin: 0;
	font-size: 2.6em;
}

/* = Page PLAN du site */
#content.sitemap > h3,
#content.sitemap > ul {
	margin-left: 20px;
}

#content.sitemap h3 {
	border: none;
}

#content.sitemap ul {
	margin: 0.3em 0 1em 0;
	font-size: 1em;
}

.sitemap li {
	margin : 0 0 0 20px;
	font-size: 1.6em;
}

.sitemap li a {
	text-decoration: none;
}

.sitemap li li {
	font-size: 0.875em; /* 16px -> 14px */
}

.sitemap li li a {
	text-decoration: none;
}


/* Annonce (que les réservations sont ouvertes) */
.annonce {
	margin: 0 0 1.6em 0;
	padding: 0 20px;
	border: 1px solid #107EA3;
	background-color: #E2F4FC;
}

#content .annonce p {
	font-size: 1.4em;
}

.annonce a {
	padding: 2px;
}

.annonce a:focus,
.annonce a:hover,
.annonce a:active {
	text-decoration: none;
	color: white;
	background-color: #107EA3;
}


/* = MOBILE
			Article http://www.alsacreations.com/astuce/lire/1177-une-feuille-de-styles-de-base-pour-le-web-mobile.html */
@media (max-width: 800px) { /* 800px parce que le site est adapté à >1024px et mobile<640px mais entre les deux rien ne serait fait ? */

	body,   /* passer tous les éléments de largeur fixe en largeur automatique */
	#head, #page, #footer {
		width: auto !important;
		max-width: 800px;
		margin: auto !important;
		padding: auto !important;
	}

	/* fixer une largeur maximale  de 100 % aux éléments potentiellement problématiques */
	img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
		max-width: 100% !important;
	}

	/* gestion des mots longs */
	textarea, table, td, th, code, pre, samp {
		word-wrap: break-word; /* césure forcée */
	}
	code, pre, samp {
		white-space: pre-line; /* passage à la ligne spécifique pour les éléments à châsse fixe */
	}

	/* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */
 #barredroite {
		float: none !important;
		width: auto !important;
	  clear: none;
		border: none;
	}

	#content {
	  clear: none;
	  margin: 0 4px !important;
	}

	/* masquer les éléments superflus */
/* .hide_mobile {
		display: none !important;
	}*/

	/* Un message personnalisé */
	body:before {
		content: "Version mobile du site";
		display: block;
		color: #777;
		text-align: center;
		font-style: italic;
	}

	#header_bg {
    /* photo ou pas ? Redimensionnée en CSS3 ? */
	}

	#header_bg p {
		font-size: 1.8em;
	}

	#search {
	  padding-bottom: 16px;
	}
	
	#menu1 {
		padding: 0;
	}

	#menu2 {
		width: 100%;
		min-width: 0;
		margin: 0;
		padding: 0;
	}

	#menu1 li,
	#menu2 li {
		width: 100%;
		margin: 0;
		padding: 0;
		font-size: 1.6em;
	}

	#menu2 li {
		display: block;
		min-height: 0;
		border: none;
	}

	#menu1 li a,
	#menu2 li a {
		padding: 1px 5px 3px;
	}

	/* On inverse l'ordre d'affichage des colonnes */
	#page {
	  display: -moz-box !important;
	  -moz-box-orient: vertical;
	}

	#head {
		-moz-box-flex: 1;
	  -moz-box-ordinal-group: 1;
	}

	#barredroite {
	  -moz-box-flex: 2;
	  box-flex-order: 2;
	  -moz-box-ordinal-group: 3;
	}

	#content {
	  -moz-box-flex: 1;
	  box-flex-order: 1;
	  -moz-box-ordinal-group: 2;
	}

	#footer {
		-moz-box-flex: 1;
	  -moz-box-ordinal-group: 4;
	}


}

